<h1>3дравствуйте! Остался 1 шаг для окончания регистрации!</h1>

<p>
    Пожалуйста, подвердите Ваш адрес эл.почты, кликнув по следующей ссылке: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить e-mail</a>.
    Эта ссылка истекает через {{ expiresAt|date('g') }} часов.
</p>

<p>
    С уважением, <br>команда inst-store.
</p>
