<div class="header-right">
    <select class="select-bar">
        <option value="en">En</option>
        <option value="Bn">Bn</option>
        <option value="pk">Pk</option>
        <option value="Fr">Fr</option>
    </select>
    <a href="#0" class="header-button d-none d-sm-inline-block">Get Mosto</a>
</div>